@font-face {
	font-family: 'iconfont';
	/* project id 707702 */
	src: url('//at.alicdn.com/t/font_707702_v2jm7tjv0xa.eot');
	src: url('//at.alicdn.com/t/font_707702_v2jm7tjv0xa.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_707702_v2jm7tjv0xa.woff') format('woff'), url('//at.alicdn.com/t/font_707702_v2jm7tjv0xa.ttf') format('truetype'), url('//at.alicdn.com/t/font_707702_v2jm7tjv0xa.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-erp"],
[class*="el-icon-erp"] {
	font-family: "iconfont" !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.el-icon-erp-icon-account:before {
	content: "\e603";
}

.el-icon-erp-icon-lock:before {
	content: "\e7d9";
}

.icon-close:before {
	content: "\eadd";
}

.icon-07jiantouxiangxia:before {
	content: "\e614";
}

.icon-arrowup:before {
	content: "\e65b";
}

.icon-cameraenhance:before {
	content: "\e6fb";
}

.icon-clouddownload:before {
	content: "\e758";
}

.icon-exclamation:before {
	content: "\e7fa";
}

.icon-help:before {
	content: "\e8c9";
}

.icon-settings:before {
	content: "\ea84";
}

.icon-sharevariant:before {
	content: "\ea88";
}

.icon-stethoscope:before {
	content: "\eac9";
}

.icon-people:before {
	content: "\e714";
}

.icon-wenhao:before {
	content: "\e71d";
}

.icon-account-box:before {
	content: "\e602";
}

.icon-account:before {
	content: "\e603";
}

.icon-arrow-left:before {
	content: "\e62c";
}

.icon-chevron-right:before {
	content: "\e6aa";
}

.icon-delete:before {
	content: "\e6f1";
}

.icon-home:before {
	content: "\e7a0";
}

.icon-lock:before {
	content: "\e7d9";
}

.icon-menu:before {
	content: "\e7e9";
}

.icon-pencil:before {
	content: "\e83a";
}

.icon-ic_error:before {
	content: "\e8dc";
}

.icon-ic_assessment:before {
	content: "\e8e5";
}

.icon-ic_assignment:before {
	content: "\e8e6";
}

.icon-ic_assignment_ind:before {
	content: "\e8e8";
}

.icon-ic_assignment_turned_in:before {
	content: "\e8e7";
}

.icon-ic_check_circle:before {
	content: "\e8ed";
}

.icon-ic_dns:before {
	content: "\e8f3";
}

.icon-ic_done:before {
	content: "\e8f4";
}

.icon-ic_group_work:before {
	content: "\e8ff";
}

.icon-ic_help:before {
	content: "\e900";
}

.icon-ic_pageview:before {
	content: "\e916";
}

.icon-ic_watch_later:before {
	content: "\e946";
}

.icon-ic_add:before {
	content: "\e97f";
}

.icon-ic_add_circle:before {
	content: "\e980";
}

.icon-ic_border_color:before {
	content: "\e9bd";
}

.icon-ic_cancel:before {
	content: "\ea65";
}

.icon-ic_event_note:before {
	content: "\ea78";
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #F7F7F7 !important;
}

ul {
	list-style: none;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.text-center {
	text-align: center !important;
}

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.bgwhite {
	background: #FFFFFF;
}


/*基础css，参考bootstrap*/

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.margin {
	margin: 1.6rem
}

.margin-0 {
	margin: 0!important
}

.margin-xs {
	margin: .5rem
}

.margin-sm {
	margin: 1rem
}

.margin-lg {
	margin: 2.4rem
}

.margin-xl {
	margin: 3.2rem
}

.margin-top {
	margin-top: 1.6rem
}

.margin-top-0 {
	margin-top: 0!important
}

.margin-top-xs {
	margin-top: .5rem
}

.margin-top-sm {
	margin-top: 1rem
}

.margin-top-lg {
	margin-top: 2.4rem
}

.margin-top-xl {
	margin-top: 3.2rem
}

.margin-bottom {
	margin-bottom: 1.6rem
}

.margin-bottom-0 {
	margin-bottom: 0!important
}

.margin-bottom-xs {
	margin-bottom: .5rem
}

.margin-bottom-sm {
	margin-bottom: 1rem
}

.margin-bottom-lg {
	margin-bottom: 2.4rem
}

.margin-bottom-xl {
	margin-bottom: 3.2rem
}

.margin-left {
	margin-left: 1.6rem
}

.margin-left-0 {
	margin-left: 0!important
}

.margin-left-xs {
	margin-left: .5rem
}

.margin-left-sm {
	margin-left: 1rem
}

.margin-left-lg {
	margin-left: 2.4rem
}

.margin-left-xl {
	margin-left: 3.2rem
}

.margin-right {
	margin-right: 1.6rem
}

.margin-right-0 {
	margin-right: 0!important
}

.margin-right-xs {
	margin-right: .5rem
}

.margin-right-sm {
	margin-right: 1rem
}

.margin-right-lg {
	margin-right: 2.4rem
}

.margin-right-xl {
	margin-right: 3.2rem
}

.padding {
	padding: 1.6rem
}

.padding-0 {
	padding: 0!important
}

.padding-xs {
	padding: .5rem
}

.padding-sm {
	padding: 1rem
}

.padding-lg {
	padding: 2.4rem
}

.padding-xl {
	padding: 3.2rem
}

.padding-top {
	padding-top: 1.6rem
}

.padding-top-0 {
	padding-top: 0!important
}

.padding-top-xs {
	padding-top: .5rem
}

.padding-top-sm {
	padding-top: 1rem
}

.padding-top-lg {
	padding-top: 2.4rem
}

.padding-top-xl {
	padding-top: 3.2rem
}

.padding-bottom {
	padding-bottom: 1.6rem
}

.padding-bottom-0 {
	padding-bottom: 0!important
}

.padding-bottom-xs {
	padding-bottom: .5rem
}

.padding-bottom-sm {
	padding-bottom: 1rem
}

.padding-bottom-lg {
	padding-bottom: 2.4rem
}

.padding-bottom-xl {
	padding-bottom: 3.2rem
}

.padding-left {
	padding-left: 1.6rem
}

.padding-left-0 {
	padding-left: 0!important
}

.padding-left-xs {
	padding-left: .5rem
}

.padding-left-sm {
	padding-left: 1rem
}

.padding-left-lg {
	padding-left: 2.4rem
}

.padding-left-xl {
	padding-left: 3.2rem
}

.padding-right {
	padding-right: 1.6rem
}

.padding-right-0 {
	padding-right: 0!important
}

.padding-right-xs {
	padding-right: .5rem
}

.padding-right-sm {
	padding-right: 1rem
}

.padding-right-lg {
	padding-right: 2.4rem
}

.padding-right-xl {
	padding-right: 3.2rem
}

.blue {
	color: #48A7FF;
}

.green {
	color: #60C35F;
}

.bluei {
	color: #5894cc;
}

.red {
	color: #ff5e68;
}

.gray {
	color: #9c9c9c;
}

.yellow {
	color: rgb(255, 152, 0);
}

.pink {
	color: #FF73A3;
}

.purple {
	color: #6a70ab;
}

.nblue {
	color: #7655CA;
}

.orange {
	color: #FFA500;
}

.green_bg {
	background-color: #3fbf4c;
}

.red_bg {
	background-color: #ff5e68;
}

.white_bg {
	background-color: #FFFFFF;
}

.gray_bg {
	background-color: #9c9c9c;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.loginForm .el-input--prefix .el-input__inner {
	border-top: none;
	border-right: none;
	border-left: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.page-title {
	text-align: left;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	padding: 30px;
	margin-top: 10px;
	background: #ffffff;
}

.know-container {
	margin: 0 25px;
	padding: 20px;
	background: #ffffff;
	border-radius: 4px;
	margin-bottom: 1.5rem;
}

.class_input_width {
	width: auto;
}

a {
	text-decoration: none;
}

.slide-fade-enter-active {
	transition: opacity .5s ease;
}

.slide-fade-leave-active {
	transition: opacity .5s ease;
}

.slide-fade-enter,
.slide-fade-leave-active {
	opacity: 0;
}

#imageView .imageBox li img {
	display: block;
	margin: 10px auto;
	max-width: 100%;
}

.el-table tr:first-child th {
	background: #F5F7F8;
}


/*详情弹出框样式*/

.cl-box {
	display: table;
	width: 100%;
}

.cl-row {
	display: table-row;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
}

.cl-row:nth-child(odd) {
	background-color: #F5F5F5;
}

.cl-row:nth-child(even) {
	/*background-color: #F5F5F5;*/
}

.cl-row .cl-td {
	display: table-cell;
	border-top: 1px solid #E3E3E3;
	padding: 10px;
	vertical-align: middle;
}

.cl-row:last-child .cl-td {
	border-bottom: 1px solid #E3E3E3;
}

.cl-row .cl-td:first-child {
	width: 34%;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
}

.cl-row .cl-td:last-child {
	width: 66%;
	border-right: 1px solid #E3E3E3;
}

.cursor {
	cursor: pointer;
}

.el-tree-node {
	white-space: normal !important;
}

.el-tree-node__content {
	min-height: 26px !important;
	height: auto !important;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #FFFFFF;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(216, 217, 224);
}