<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diabin.latte">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->

    <!--&lt;!&ndash;拨号权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!--&lt;!&ndash;文件权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--&lt;!&ndash;相机权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
